<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <bean id="Sheduler" class="botfactory.Sheduler">
    </bean>

    <task:scheduled-tasks>
        <task:scheduled ref="Sheduler" method="botInfo" fixed-delay="5000" initial-delay="3000"/>
        <task:scheduled ref="Sheduler" method="botOn" fixed-delay="4000" initial-delay="3000"/>
        <task:scheduled ref="Sheduler" method="botOff" fixed-delay="7000" initial-delay="3000"/>
    </task:scheduled-tasks>

    <bean id = "taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5"/>
        <property name="maxPoolSize" value="10"/>
        <property name="queueCapacity" value="25"/>
    </bean>

    <bean id="someTask" class="botfactory.SomeTask">
        <constructor-arg ref="taskExecutor"/>
    </bean>


</beans>